@import url('https://fonts.googleapis.com/css?family=Quicksand');
p, h1,h2,h3
{font-family: 'Quicksand', sans-serif;color: #9E9698}

body
{
	background-color:#690828 ;
}

.include_fixed
{
background-image: url(../img/ban.png);
width: 99%;
padding: 5px;
background-repeat: no-repeat;
background-size: cover;
}

.footer
{
text-align:left;
width: 99%;
margin-top: 100px;
height:200px;
padding: 5px;
background-image: url(../img/footer.png);
background-repeat: no-repeat;
background-size: cover;
}

.ico {width:2%}
.titre { width:61%; }
.nombremessages { width:2%; }
.nombrevu { width:4%; }
.nombresujets { width:2%; }
.auteur { width:7%; }
.derniermessage { width:18%; }
.categorie { width:92%; background-color : rgb(244,238,250); }

label {
display:block;
width:150px;
float:left;
}

th
{
  text-align: left;
  font-size: 18px;
  padding-left : 25px;
  padding-right : 25px;
  height : 40px;
  color: #9E9698;
  background-color : #524E4F;
}

.roundedImage
{
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    width:100px;
    height:100px;
    border: white 1px solid;
    box-shadow: 1px 2px 18px #A5A4A4;
}

td
{
  color : #9E9698;
  font-size: 15px;
  padding-left : 25px;	
  padding-right:25px;
  padding-bottom : 8px;
  padding-top : 8px;
  background-color: #75696C;
  vertical-align:top;
  text-align : left;
}

table
{
  width:70%;
  height:100%;
  margin-left:auto;
  margin-right:auto;
  margin-bottom : 10px;
  margin-top:10px;
}

a, a:hover, a:focus, a:active
{
  color:#9E9698; 
}

.p_message
{
	text-align: center;
	font-size : 20px;
}

.p_baniere_petit
{
    font-size: 15px;
    margin-left:45px;
}

.p_baniere_petit_pseudo
{
    font-size: 15px;
    margin-left:85px;
}

.p_menu
{
    text-align: right;
    margin-right: 20px;
}

.p_footer
{padding-top:45px;padding_left:50px;}

.parag_centre
{
    text-align: center;
}

fieldset
{
	color: #524E4F;
	font-size: 15px;
	margin-top : 10px;
	width:50%;
	background-color:#9E9698;
	margin-left:25%;
}

h1
{
	text-align: center;
	margin-top: ;
	font-size: 20px;
	margin-bottom: 50px;
}

.p_index_connecte
{
	text-align: center;
}
